/* body {
    background: rgb(154, 214, 139);
    color: white;
} */
  
div.well {
  height: 250px;
} 
  
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 75%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo_container{
  vertical-align: middle;
  clear:both;
  padding-left: 40px;
}

#login_button {
  color:rgb(73, 73, 73);
}

#login_title {
  color:rgb(73, 73, 73);
}

nav.navbar {
  background-color:rgb(34, 33, 33);
  border: 0px;
  border-radius: 0px;
}

#color_selector {
  text-align: center;
  vertical-align: middle;
}

#selected-color {
  height: 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  border-color: black;
  border-radius: 10px;
  border-width: 5px;
  color: white;
}

#bloom {
  height: 65px;
  background-color: rgb(150, 15, 240);
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: rgb(150, 15, 240);
}

#bloom:hover {
  color: white;
}

#veg {
  height: 65px;
  background-color: rgb(230, 15, 140);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: rgb(230, 15, 140);
}

#veg:hover {
  color: white;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.selected {
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.colorCircle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
