{%- extends "base.html" %}

{% block title %} Monitor Stats {% endblock %}

{% block content %}

<div class="container">
  <div class="row" >
      <form method="POST" action="{{ url_for('showColor') }}" >
          <div class="form-group input-group">
            Choose a device: {{ form.device_id(class_="form-control")}} </br>       
          </div>
          <div class="form-group">
            <input id="choose_button" type="submit" class="btn" value="Choose">
          </div>
          {{ form.csrf_token }}
      </form>   
  </div>

  <div id="data-table" class="row">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Color ID</th>
              <th>Device ID</th>
              <th>Red</th>
              <th>Green</th>
              <th>Blue</th>
              <th>Color in Hex</th>
              <th>Color</th>
              <th>Edited by user</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            {% for row in query_results %}
              <tr>
                <td> {{ row.color_id }}</td>
                <td> {{ row.device_id }}</td>
                <td> {{ row.red }}</td>
                <td> {{ row.green }}</td>
                <td> {{ row.blue }}</td>
                <td> {{ row.color_hex }}</td>
                <td><div class="colorCircle" style="background-color:{{ '#' + row.color_hex[2:] }}; "></div></td>
                <td> {{ row.by_user }}</td>
                <td> {{ row.datetime.strftime('%H:%M:%S - %b %d, %Y') }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>

</div>

{%- endblock %}
