{%- extends "base.html" %}

{% block title %} Monitor Stats {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h2> Welcome to Minty Fresh Remote Control App </h2>
        <h4> Here, you can check the latest status and conditions of your greenhouse unit, browse through various
            statistics to observe past conditions of the unit or change the color of the LED panel.
        </h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4> Current Status </h4>
        </div>
        <div class="col-md-6">
            <h4> Change Color </h4>
        </div>
    </div>
</div>

{%- endblock %}